# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Raw biological dataset
data/raw/*.fasta
data/raw/*.fasta.gz
data/raw/*.fa
data/raw/*.fa.gz

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/